{%extends "layout.html"%} {%block content%}

<div class="topnav" id="myTopnav">
    <a href="{{ url_for('home')}}">Single Prediction</a>
    <a href="{{ url_for('multiplepred')}}">Multiple Prediction</a>
    <a href="{{ url_for('trainmodel')}}">Model Train</a>
    <a href="{{ url_for('about')}}" class="active">About VEGEPredictor</a>
    <a href="{{ url_for('howvegepredictorwork')}}">How VEGEPredictor Work</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="about">
    <div class="container">
        <!--  -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-5">
                    <div align="justify">
                        <br />
                        <h2><b> About VEGEPredictor </b></h2>
                        <h3>
                            This VEGEPredictor web application was implemented for final year
                            individual research of BSc (Hons) Computing - National Institute
                            of Business Management degree program. This web application
                            identifies past data patterns and predicts the extend of land to
                            be cultivated and the harvest accordingly. This web application's
                            main objective is to educate farmers through farmer regulators to
                            reduce the amount of excess vegetables by cultivating according to
                            a pattern.
                        </h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <br />
                    <img src="/static/pics/webappcover6.jpg" height="380" style="position: left" />
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}