<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/pics/favicon.ico">
    <title>Upcountry vegetable crop yield prediction</title>

    <meta content="utf-8" http-equiv="encoding" ame="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesht.css') }}">


</head>

<body>
    <center>
        <img src="/static/pics/webapplogo.png" height="62" style="position:left">
    </center>

    {%block content%} {%endblock%}

    <!-- waiting -->
    <div id="uploading" style="display:none;">
        <div class="modal fade bd-example-modal-sm" id="uploadingModel" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <h3 class="modal-title" id="exampleModalLongTitle">File is Uploading!
                            </h3>
                        </center>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img src="/static/pics/uploadingGif.gif" height="150" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End waiting -->

    <!-- waiting -->
    <div id="loading" style="display:none;">
        <div class="modal fade bd-example-modal-sm" id="loadingModel" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <h3 class="modal-title" id="exampleModalLongTitle">Model is Training!
                        </center>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img src="/static/pics/prowlgif.gif" height="150" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End waiting -->

    <!-- waiting -->
    <div id="showing" style="display:none;">
        <div class="modal fade bd-example-modal-sm" id="showResult" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <h3 class="modal-title" id="exampleModalLongTitle">Result is preparing!
                        </center>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img src="/static/pics/cube.gif" height="150" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End waiting -->

    <script type="text/javascript" src="{{ url_for('static', filename='validatorcustomescript.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrapvalidator.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='navMenu.js') }}"></script>
</body>

</html>