{%extends "layout.html"%} {%block content%}

<!-- Menu -->
<div class="topnav" id="myTopnav">
    <a href="{{ url_for('home')}}">Single Prediction</a>
    <a href="{{ url_for('multiplepred')}}" class="active">Multiple Prediction</a>
    <a href="{{ url_for('trainmodel')}}">Model Train</a>
    <a href="{{ url_for('about')}}">About VEGEPredictor</a>
    <a href="{{ url_for('howvegepredictorwork')}}">How VEGEPredictor Work</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<!-- End Menu -->

<div class="multiplepred">
    <div class="container">
        <div class="col-md-10">
            <!-- Flash alert -->
            <h3>Performing a series of predictions simultaneously</h3>
            <hr />
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'success' %}
            <div class="alert alert-success mb-3" role="alert">
                <center>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </center>
            </div>
            {% endif %} {% if category == 'error' %}
            <div class="alert alert-danger mb-3" role="alert">
                <center>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </center>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith%}

            <!-- End Flash alert -->
        </div>

        <br />
        <div class="container">
            <!-- File upload -->
            <div class="row">
                <div class="form-group">
                    <form action="/csvimport" method="POST" enctype="multipart/form-data">
                        <div class="col-md-3">
                            <label>Choose a file to upload</label>
                            <br />
                            <input type="file" name="file" value="file" />
                        </div>

                        <div class="col-md-2">
                            <input type="submit" name="upload" value="Upload" class="btn btn-success btn-block"
                                onclick="$('#uploading').show();" data-toggle="modal" data-target="#uploadingModel" />
                            {{msg}}
                        </div>
                    </form>
                </div>
            </div>
            <!-- End File upload -->

            <hr />

            <!-- Model train -->
            <!-- Show the result -->
            <div class="row">
                <div class="form-group">
                    <form id="containerForm" class="form-horizontal" method="POST" action="/predictcsvfile">
                        <div class="col-md-3">
                            <label>Get the result</label>
                        </div>

                        <div class="col-md-2">
                            <input class="btn btn-primary btn-block" type="submit" value="Show result"
                                onclick="$('#showing').show();" data-toggle="modal" data-target="#showResult" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Model train -->
            <!-- Show the result -->

            <hr />

            <table border="1">
                <thead>
                    <tr>
                        {% for col in colnames %}
                        <th>{{ col | safe }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        {% for col in colnames %}
                        <td>{{ record[col] | safe}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- End Show the result -->
        </div>
    </div>
</div>

{%endblock%}