{%extends "layout.html"%} {%block content%}

<!-- Menu -->
<div class="topnav" id="myTopnav">
    <a href="{{ url_for('home')}}">Single Prediction</a>
    <a href="{{ url_for('multiplepred')}}">Multiple Prediction</a>
    <a href="{{ url_for('trainmodel')}}" class="active">Model Train</a>
    <a href="{{ url_for('about')}}">About VEGEPredictor</a>
    <a href="{{ url_for('howvegepredictorwork')}}">How VEGEPredictor Work</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<!-- End Menu -->

<div class="trainmodel">
    <div class="container">
        <div class="col-md-10">
            <h3>Import Data and Train the Model</h3>
            <hr />

            <!-- Flash alert -->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'success' %}
            <div class="alert alert-success mb-3" role="alert">
                <center>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </center>
            </div>
            {% endif %} {% if category == 'trained' %}
            <div class="alert alert-warning" role="alert">
                <center>
                    Now you can go to
                    <a href="{{ url_for('home')}}" class="alert-link">Single Prediction</a>
                    and make a prediction!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </center>
            </div>
            {% endif %} {% if category == 'error' %}
            <div class="alert alert-danger mb-3" role="alert">
                <center>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </center>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith%}
            <!-- End Flash alert -->
        </div>

        <br />

        <div class="container">
            <!-- File upload -->
            <div class="row">
                <div class="form-group">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="col-md-3">
                            <label>Choose a file to upload</label>
                            <input type="file" name="file" value="file" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" name="upload" value="Upload" class="btn btn-success btn-block"
                                onclick="$('#uploading').show();" data-toggle="modal" data-target="#uploadingModel" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- End File upload -->

            <hr />

            <!-- Model train -->
            <div class="row">
                <div class="form-group">
                    <form id="containerForm" class="form-horizontal" method="POST" action="/train">
                        <div class="col-md-3">
                            <label>Train the model</label>
                        </div>

                        <div class="col-md-2">
                            <input class="btn btn-primary btn-block" type="submit" value="Train model"
                                onclick="$('#loading').show();" data-toggle="modal" data-target="#loadingModel" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Model train -->
        </div>
    </div>
</div>
{%endblock%}